
html {
    scroll-behavior: smooth; 
}
body{
}
.navbar.fixed-bottom {
    background-color: var(--bs-gray-200);
}
.item-1{
    background-image: url(./images/item-1/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
}
#carouselExampleAutoplaying{
    width: 70%;
    margin: auto;
    position: relative;
}
.header{
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%,-50%);
    display: flex;
    z-index: 999;
    width: 100%;
}
.img-header{
    position: relative;
    width: 50%;
}
.img-header-1,.img-header-2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.name-header-1,.name-header-2{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'Lobster',sans-serif;
    color: #7a12a3;
}

.img-header-2{
    zoom: 0.4;
} 
.carousel-item img{
    border-radius: 20px;
}
#item-5{
    width: 70%;
    margin: auto;
}
#item-5 table{
    width: 100%;
    margin-bottom: 10%;
}
.picture {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 10%;
    /* background-color: aqua; */
    position: relative;
}

.picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.picture-hidden {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    opacity: 0;
    position: relative;
}
