@media screen and (max-width: 767px) {
    body{
        width: 100%;
    }
    #item-1,#item-2,#item-3,#item-4,#item-5{
        width: 95%;
        margin: auto;
    }
    #carouselExampleAutoplaying{
        width: 100%;
    }
    
    .item-1{
        padding-top: 100px;
    }
    .img-header-1,.img-header-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-header-1 img{
        width: 150%;
    }
    .img-header-2 img{
        width: 100%;
    }
    .name-header-1,.name-header-2{
        font-size: 30px;
    }
    #item-5{
        margin-bottom: 150px;
    }
}